[submodule "node_modules/whispeerHelper"]
	path = node_modules/whispeerHelper
	url = git@github.com:whispeer/whispeerHelper
[submodule "node_modules/whispeerValidations"]
	path = node_modules/whispeerValidations
	url = git@github.com:whispeer/whispeerValidations
