.DS_STORE
*.cmd
*.log
*complexity.txt
*log.txt
codekit-config.json
files/*.png
mails/*.eml
tmp/*
node_modules/*
!node_modules/whispeerHelper
!node_modules/whispeerValidations
pushServerConfig.conf.json
