{
    "webPort": 7777,
 
    "sqlitePath": "./database.sqlite",
     "mongodbUrl": "mongodb://localhost/push",
 
    "gcm": {
        "apiKey": "ADDAPIKEY"
    },
 
    "apnDisabled": {
        "connection": {
            "gateway": "gateway.sandbox.push.apple.com",
            "cert": "/path/to/cert.pem",
            "key": "/path/to/key.pem"
        },
        "feedback": {
            "address": "feedback.sandbox.push.apple.com",
            "cert": "/path/to/cert.pem",
            "key": "/path/to/key.pem",
            "interval": 43200,
            "batchFeedback": true
        }
    }
}
